body {
padding-top: 89px;
}

.alert{
  border-radius: 0px;
}
.allevents,.feedMsgs
{
	list-style: none;
	padding-left: 3px;
}

.allevents li
{
	padding: 9px;
	margin-bottom: 3px;
	background-color: #F8F7F7;
	color: #787878;
	font-size: 17px;
}

.feedMsgs li
{
	padding: 9px;
	margin-bottom: 3px;
	background-color: #F8F7F7;
	color: #787878;
	overflow: auto;
}

.chat
{
	
}

@media (max-width: 767px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
 }

